.skills{
  position: relative;
  background-color: #6ab8cc;
}

.skills .heading{
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  color: #fff;
  font-weight: bold;
  z-index: 9;
}

.skills-img{
  width: 100%;
  height: 500px;
  background-size: cover;
}

.skills .table-holder{
  position: relative;
  padding: 80px 0;
}

.skills .ant-table{
  background-color: #6ab8cc;
  color: #fff;
  font-weight: 500;
}

.skills .ant-table-tbody > tr > td{
  border: none;
}

.skills .ant-table-tbody > tr.ant-table-row:hover > td{
  background: none;
}

@media (min-width: 992px) {
  .skills .heading{
    font-size: 36px;
  }
  .skills .ant-table-wrapper{
    padding: 0 100px;
  }
  .skills .table-holder{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 700px;
    z-index: 9;
  }
}