.home .bg-image{
  position: relative;
  background-size: cover;
  width: 100%;
  min-height: 500px;
  text-align: center;
  overflow: hidden;
}

.home .text-container{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 200px;
  margin: auto;
  padding: 0 20px;
}

.home .text-container h1{
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}

.home .text-container p{
  font-style: italic;
  color: #868383;
}