.home .bg-image{
  position: relative;
  background-size: cover;
  width: 100%;
  min-height: 500px;
  text-align: center;
  overflow: hidden;
}

.home .text-container{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 300px;
}